@use "../Ui-styles/variables" as vars;
@use "../Ui-styles/mixins.scss" as *;

footer {
  background-color: vars.$black;
  color: vars.$white;
  padding: 2.5rem 0;
  overflow: hidden;

  & > div {
    @include flex-column;
    gap: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 1;

    span {
      display: block;
    }
  }

  p {
    width: 85%;
  }
  .socials-img {
    @include flex-row;
    gap: 1rem;
  }
}

.locationPage {
  background-color: vars.$brown;
  color: vars.$black;

  .socials-img {
    filter: invert(100%);
  }
}

@include responsive(vars.$tablet) {
  footer {
    padding: 3.5rem 0;

    & > div {
      // @include flex-row;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      // gap: 4rem;
    }

    .socials-img {
      // width: 100%;
      // height: 100%;
      height: fit-content;
      justify-self: end;
    }

    p {
      width: 100%;
    }
  }
}

@include responsive(vars.$desktop) {
  footer {
    position: relative;
    overflow: hidden;
    // .mask-element {
    //   * {
    //     position: absolute;

    //     @include flex-row;
    //   }
    // }
  }
}
