@use "../Ui-styles/variables.scss" as vars;
@use "../Ui-styles/mixins" as *;

header {
  p {
    color: vars.$gray;
  }

  .desktop-h1 {
    display: none;
  }
  .img-container {
    @include img-containerFullWidth;
  }
  p {
    max-width: 95%;
  }
  h1 {
    line-height: 1;
    font-size: 3.3rem;
    font-weight: 900;
    margin-top: 1.5rem;
    max-width: 80%;

    span {
      white-space: nowrap;
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 93%;
    margin: 0 auto;
  }
}
